.remembermeContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;
}

.checkbox{
    width: auto; 
    margin: 0;
}

.registerLink{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
}

.registerLink:hover{
    color: var(--color-primary-hover);
    text-decoration: underline;
}