.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px rgba(3, 37, 65, 0.2);
}

.formText{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.input{
    margin-bottom: 20px;
}

.button{
    color: white;
    background-color: var(--color-primary);
    border: none;
    padding: 10px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: var(--color-primary-hover);
}

.loginState{
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.error{
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: center;
}