.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(3, 37, 65, 0.2);
}

.formText{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.input{
    margin-bottom: 20px;
}

.button{
    color: white;
    background-color: var(--color-primary);
    border: none;
    padding: 10px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: var(--color-primary-hover);
}