*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 15px 25px;
    background-color: #032541;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    gap: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.navList{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

ul li{
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.navLinks:hover {
    color: #ff6347;
}