*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 15px 25px;
    background-color: var(--color-primary);
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    gap: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.navList{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

ul li{
    list-style: none;
}

.navLinks {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.navLinks:hover {
    color: #ff6347;
}

.navLinkRegister, .logout{
    border: none;
    background-color: white;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.navLinkRegister:hover, .logout:hover{
    background-color: #ff6347;
    color: white;
}