.authPage {
  position: relative;                
  min-height: 100vh;               
  background-image: url("../../../assets/images/movie-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;                        
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;               
}

.logo {
  position: absolute;   
  top: 20px;
  left: 30px;             
  z-index: 2;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.formWrapper {
  position: relative;
  z-index: 2;                       
}
